[![Abrir en Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/uxue-sudupe/API-adibideak/blob/main/code_examples/es/API_INE_es.ipynb)

# Datos abiertos de INE - Servicios web

## 1. INTRODUCCIÓN

Los datos que se encuentran en la base de datos del INE (INEbase) se pueden obtener a través de servicios web, además de consultarlos en su [página web](https://www.ine.es/dyngs/INEbase/listaoperaciones.htm).

* respuestas en castellano e inglés
* es gratuito y no requiere clave API
* en la reutilización de datos es necesario citar la fuente

La información a la que se podrá acceder a través del servicio API del INE proviene de tres fuentes:

* Base de datos Tempus3
* Repositorio de archivos PC-Axis
* Repositorio de archivos tpx

Utilizaremos la biblioteca [ineapir](https://github.com/es-ine/ineapir) preparada por el INE. Se trata de una biblioteca en lenguaje de programación R que permite buscar y acceder a los datos del INEbase utilizando diferentes filtros.

In [ ]:
# Instalar la biblioteca necesaria (desde Github)

remotes::install_github("es-ine/ineapir")

library(ineapir)

Skipping install of 'ineapir' from a github remote, the SHA1 (6676cb69) has not changed since last install.
  Use `force = TRUE` to force installation

## 2. CONJUNTOS DE DATOS Y CÓDIGOS DE IDENTIFICACIÓN DE INEBASE

No existe un listado o catálogo de todos los conjuntos/tablas de datos que se encuentran en el INEbase.

Sin embargo, en la base de datos Tempus3 se están unificando las operaciones del INE. De momento recoge información de todas las operaciones estadísticas coyunturales y de algunas operaciones estadísticas estructurales. A medida que se integra en la base de datos, cambia el listado de operaciones de Tempus3.

La lista de operaciones disponibles se puede consultar con la función `get_metadata_operations`.

In [ ]:
tempus3_operaciones <- get_metadata_operations()
tempus3_operaciones

    Id  Cod_IOE
1    4  30147
2    6  30211
3    7  30168
4   10  30256
5   13  30219
6   14  30182
7   15  30457
8   16
9   18  30180
10  20  30013
11  21  30259
12  22  30245
13  23  30417
14  24  30048
15  25  30138
16  26  30050
17  27  30051
18  30
19  31  30183
20  32  30103
21  33  30264
22  35
23  36
24  39  30162
25  40  30149
26  41  30053
27  42  30052
28  43  30203
29  44  30198
30  48  30071
⋮   ⋮   ⋮
81  328 30239
82  329 16029
83  330 16028
84  331
85  333 30456
86  334 16023
87  336 30279
88  345 30030
89  353 30325
90  402
91  406 30324
92  407
93  410
94  412
95  424 30323
96  425
97  426
98  429
99  432
100 433
101 436
102 437
103 438
104 450 30282
105 452
106 455 30283
107 464 30098
108 465 30240
109 474 30099
110 476
    Nombre
1   Estadística de Efectos de Comercio Impagados
2   Índice de Coste Laboral Armonizado
3   Estadística de Transmisión de Derechos de la Propiedad
4   Indicadores Urbanos
5   Estadística del Procedimiento Concursal
6   Índices de Precios del Sector Servicios
7   Índice de Precios de la Vivienda (IPV)
8   Distribución de Nombres
9   Índice de Precios de Consumo Armonizado (IPCA)
10  Contabilidad Nacional Trimestral de España. Base 2000
11  Estimaciones de la Población Actual (ePOBa)
12  Cifras Oficiales de Población de los Municipios Españoles: Revisión del Padrón Municipal
13  Estadística de Defunciones según la Causa de Muerte
14  Estadística Estructural de Empresas: Sector Industrial
15  Índice de Precios de Consumo (IPC)
16  Índices de Producción Industrial
17  Índices de Precios Industriales
18  Encuesta de coyuntura de comercio al por menor. Base 1994
19  Indicadores de Actividad del Sector Servicios
20  Índices de Comercio al por Menor
21  Indicadores Demográficos Básicos
22  Poblaciones de hecho desde 1900 hasta 1991. Cifras oficiales sacadas de los Censos respectivos.
23  Poblaciones de derecho desde 1986 hasta 1995. Cifras oficiales sacadas del Padrón.
24  Encuesta de Ocupación en Alojamientos Turísticos
25  Estadística de Hipotecas
26  Índices de Entradas de Pedidos
27  Índices de Cifras de Negocios en la Industria
28  Explotación Estadística del Directorio Central de Empresas
29  Encuesta sobre Comercio Internacional de Servicios y otras Operaciones Internacionales
30  Índices de Precios de Exportación y de Importación de Productos Industriales
⋮   ⋮
81  Encuesta de Ocupación en Albergues
82  Encuesta de Gasto Turístico
83  Movimientos Turísticos en Fronteras
84  Índice de Garantía de la Competitividad
85  Mujeres y Hombres en España
86  Encuesta de turismo de residentes
87  Estadística de Adquisiciones de Nacionalidad Española de Residentes
88  Contabilidad nacional anual de España: agregados por rama de actividad
89  Atlas de distribución de renta de los hogares
90  Movilidad COVID19
91  Estimacion del numero de defunciones semanales (EDeS)
92  Encuesta Cuatrienal de Estructural Salarial
93  Viviendas turísticas en España
94  Distribución del gasto en destino realizado por los visitantes extranjeros en sus visitas a España
95  Estimación Mensual de Nacimientos
96  Comercio diario al por menor de grandes empresas
97  Coyuntura demográfica de empresas
98  Ocupación en alojamientos turísticos
99  Índice de Precios de Vivienda en Alquiler
100 Indicador Multidimensional de Calidad de Vida
101 Medición del turismo receptor a partir de la posición de los teléfonos móviles
102 Medición del turismo emisor a partir de la posición de los teléfonos móviles
103 Medición del turismo interno interprovincial a partir de la posición de los teléfonos móviles
104 Estadística Continua de Población
105 Distribución del gasto realizado por los residentes en sus visitas al Extranjero según país de destino
106 Estadística de Migraciones y Cambios de Residencia
107 Comercio Internacional de Servicios por Modos de Suministro (MoS)
108 Comercio Internacional de Servicios por Características de las Empresas (STEC)
109 Estadística sobre Cadenas de Valor Globales
110 Cuentas de Emisiones a la Atmósfera Trimestrales
    Codigo
1   EI
2   ICLA
3   ETDP
4   UA
5   EPC
6   IPS
7   IPV
8   TNOM
9   IPCA
10  CNTR2000
11  EPOBA
12  DPOP
13  ECM
14  EEE:IND
15  IPC
16  IPI
17  IPRI
18  CCM
19  IAS
20  ICM
21  IDB
22  DPOH
23  DPOD
24  EOT
25  HPT
26  IEP
27  ICN
28  DIR
29  ICES
30  IPRX-M
⋮   ⋮
81  EOA
82  EG
83  FR
84  IGC
85  MYH
86  ETR
87  ANES
88  CNEAG
89  ADRH
90  MMOV
91  EDES
92  EAES:Q
93  VTE
94  GDVE
95  EMN
96  CDMGE
97  CODEM
98  OAT
99  IPVA
100 IMCV
101 TMOV
102 TMOV
103 TMOV
104 ECP
105 GDRE
106 EMCR
107 MOS
108 STEC
109 ECVG
110 CMEA
    Url
1   NA
2   NA
3   NA
4   https://www.ine.es/dyngs/INEbase/es/operacion.htm?c=Estadistica_C&cid=1254736176957&idp=1254735976608
5   NA
6   NA
7   NA
8   https://www.ine.es/dyngs/INEbase/es/operacion.htm?c=Estadistica_C&cid=1254736177009&idp=1254735572981
9   NA
10  NA
11  NA
12  NA
13  NA
14  NA
15  NA
16  NA
17  NA
18  NA
19  NA
20  NA
21  NA
22  NA
23  NA
24  NA
25  NA
26  NA
27  NA
28  NA
29  NA
30  NA
⋮   ⋮
81  NA
82  NA
83  NA
84  https://www.ine.es/dyngs/INEbase/es/operacion.htm?c=Estadistica_C&cid=1254736177109&idp=1254735976607
85  NA
86  NA
87  NA
88  NA
89  https://www.ine.es/dyngs/INEbase/es/operacion.htm?c=Estadistica_C&cid=1254736177088&idp=1254735976608
90  https://www.ine.es/experimental/movilidad/experimental_em.htm
91  https://www.ine.es/dyngs/INEbase/es/operacion.htm?c=Estadistica_C&cid=1254736177074&idp=1254735573002
92  NA
93  https://www.ine.es/experimental/viv_turistica/experimental_viv_turistica.htm
94  https://www.ine.es/experimental/gasto_tarjetas/trimestral.htm
95  https://www.ine.es/dyngs/INEbase/es/operacion.htm?c=Estadistica_C&cid=1254736177079&idp=1254735573002
96  https://www.ine.es/experimental/cdmge/
97  https://www.ine.es/experimental/codem/experimental_codem.htm
98  https://www.ine.es/experimental/ocupacion/experimental_ocupacion.htm
99  NA
100 https://www.ine.es/experimental/imcv/experimental_ind_multi_calidad_vida.htm
101 https://www.ine.es/experimental/turismo_moviles/experimental_turismo_moviles.htm#!turismo_receptor
102 https://www.ine.es/experimental/turismo_moviles/experimental_turismo_moviles.htm#!turismo_emisor
103 https://www.ine.es/experimental/turismo_moviles/experimental_turismo_moviles_interno.htm
104 https://www.ine.es/dyngs/INEbase/es/operacion.htm?c=Estadistica_C&cid=1254736177095&idp=1254735572981
105 https://www.ine.es/experimental/turismo_gasto/turistas_residentes_gasto_extranjero.htm
106 https://www.ine.es/dyngs/INEbase/es/operacion.htm?c=Estadistica_C&cid=1254736177098&idp=1254735573002
107 https://www.ine.es/dyngs/INEbase/es/operacion.htm?c=Estadistica_C&cid=1254736177111&idp=1254735576778
108 https://www.ine.es/dyngs/INEbase/es/operacion.htm?c=Estadistica_C&cid=1254736177112&idp=1254735576778
109 NA
110 https://www.ine.es/experimental/ceatr/experimental_ceatr.htm

In [ ]:
# Si queremos guardar una copia de las operaciones de Tempus3 en formato excel

install.packages("openxlsx")
library(openxlsx)

write.xlsx(tempus3_operaciones, file="Tempus3_Operaciones.xlsx")

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

Como a la hora de descargar los datos por API es necesario el número de identificación de tablas o series, aquí se explica cómo localizar el "id".

### 2.1 Tablas/series de la base de datos Tempus3

En este caso, los números de identificación de tablas y series se pueden encontrar sin salir de la interfaz de R. Una vez conocido el código de la operación (extraído del punto superior), se pueden consultar las tablas que se incluyen dentro de dicha operación utilizando la función `get_metadata_tables_operation`.

Para saber el `id` de las series debemos utilizar otra función, la de `get_metadata_series_operation`.

El orden es: Operación > Tabla > Serie > Datos

In [ ]:
# Tablas del Índice de Precios de Consumo (IPC)

IPC_tablas <- get_metadata_tables_operation(operation = "IPC", tip="A")       # En el parámetro "operation" se debe especificar el código de la operación
                                                                              # tip ="A" para literales, de lo contrario se extraen códigos
head(IPC_tablas)

  Id
1 24077
2 25331
3 35083
4 50902
5 50908
6 50911
  Nombre
1 Índice general nacional. Series desde enero de 1961
2 Ponderaciones: general y de grupos ECOICOP
3 Índices nacionales: Componentes para el análisis de la COVID-19
4 Índices nacionales: general y de grupos ECOICOP
5 Índices nacionales a impuestos constantes: general y de grupos ECOICOP
6 Tasa de variacion del índice general nacional. Series desde enero de 1961
  Codigo          T3_Periodicidad T3_Publicacion
1 NAC             Mensual         Índice de Precios de Consumo
2 NAC-CCAA-PROV_P Anual           Índice de Precios de Consumo. Medias anuales
3 2016_NAC        Mensual         Índice de Precios de Consumo
4 2021_NAC        Mensual         Índice de Precios de Consumo
5 2021_NAC_ICTES  Mensual         Índice de Precios de Consumo
6 2021_NAC        Mensual         Índice de Precios de Consumo
  T3_Periodo_ini Anyo_Periodo_ini FechaRef_fin Ultima_Modificacion
1 ene.           1961             null         2025-09-12T09:00:00.000+02:00
2 A              2017             null         2024-01-12T09:00:00.000+01:00
3 ene.           2017             null         2022-01-14T09:00:00.000+01:00
4 ene.           2002             null         2025-09-29T09:00:00.000+02:00
5 ene.           2011             null         2025-09-12T09:00:00.000+02:00
6 ene.           1961             null         2025-09-29T09:00:00.000+02:00

In [ ]:
# Series del Índice de Precios de Consumo (IPC)

IPC_series <- get_metadata_series_operation(operation = "IPC", tip ="A")       # En el parámetro "operation" se debe especificar el código de la operación
head(IPC_series)

  COD      T3_Operacion
1 IPC53262 Índice de Precios de Consumo (IPC)
2 IPC53306 Índice de Precios de Consumo (IPC)
3 IPC53307 Índice de Precios de Consumo (IPC)
4 IPC53308 Índice de Precios de Consumo (IPC)
5 IPC53311 Índice de Precios de Consumo (IPC)
6 IPC53327 Índice de Precios de Consumo (IPC)
  Nombre                                                      Decimales
1 Baleares. Tasa de variación en lo que va de año medicina    1
2 Baleares. Dato base. Transporte                             3
3 Baleares. Tasa de variación mensual. Transporte             1
4 Baleares. Tasa de variación anual. Transporte               1
5 Baleares. Tasa de variación en lo que va de año. Transporte 1
6 Baleares. Dato base. Comunicaciones                         3
  T3_Periodicidad T3_Publicacion               T3_Clasificacion T3_Escala
1 Mensual         Índice de Precios de Consumo Base 2001
2 Mensual         Índice de Precios de Consumo Base 2001
3 Mensual         Índice de Precios de Consumo Base 2001
4 Mensual         Índice de Precios de Consumo Base 2001
5 Mensual         Índice de Precios de Consumo Base 2001
6 Mensual         Índice de Precios de Consumo Base 2001
  T3_Unidad
1 Tasas
2 Índice
3 Tasas
4 Tasas
5 Tasas
6 Índice

In [ ]:
# Si queremos guardar en excel las series del IPC

write.xlsx(IPC_series, file="IPC_series.xlsx")

En algunos casos puede ser más fácil salir de la interfaz R y buscar el código de identificación en la página web. En la página del INE, el código de tablas y series existentes en Tempus3 se encuentra de la siguiente manera:

***Código de identificación de una tabla en Tempus3***

![](https://raw.githubusercontent.com/uxue-sudupe/API-adibideak/main/img/Id_tabla_Tempus.png)



***Código de identificación de una serie en tempus3***

![](https://raw.githubusercontent.com/uxue-sudupe/API-adibideak/main/img/Id_serie_Tempus.png)

### 2.2 Tablas en formato  pc-axis

Hay que salir del interfaz R y buscar el código de identificación en la página web:

***Código de identificación de la tabla pc-axis***

![](https://raw.githubusercontent.com/uxue-sudupe/API-adibideak/main/img/Id_tabla_pc-axis.png)

### 2.3 Tablas en formato tpx

Hay que salir del interfaz R y buscar el código de identificación en la página web:

***Código de identificación de la tabla tpx***

![](https://raw.githubusercontent.com/uxue-sudupe/API-adibideak/main/img/Id_tabla_tpx.png)

## 3. METADATOS ESTRUCTURALES

Los metadatos del servicio web del INE no siguen estándares. Para encontrar los códigos y descripciones de las variables y valores utilizados en las tablas utilizaremos las siguientes funciones:

### 3.1 Variables

La función `get_metadata_variables` recibe los códigos y descripciones de todas las variables del INEbase. También se pueden solicitar variables de una sola operación.

In [ ]:
#  Listado de variables de toda la base de datos INEbase (códigos y descripciones)

variables <- get_metadata_variables()
head(variables)

  Id  Nombre                           Codigo
1 349 Totales Territoriales            NAC
2 954 Total
3  70 Comunidades y Ciudades Autónomas CCAA
4 516 Nacionalidad                     1
5 955 Cultivos, pastos y huertos
6 956 SAU y Otras tierras

In [ ]:
# Si queremos guardar la respuesta en un archivo excel

write.xlsx(variables, "API_INE_variables.xlsx")

In [ ]:
# Listado de variables de una operación

IPC_variables <- get_metadata_variables(operation="IPC")
head(IPC_variables)

  Id  Nombre                           Codigo
1   3 Tipo de dato
2  70 Comunidades y Ciudades Autónomas CCAA
3 115 Provincias                       PROV
4 269 Grupos especiales 2001
5 270 Rúbricas 2001
6 349 Totales Territoriales            NAC

### 3.2 Valores

 La función `get_metadata_values`, traduce los códigos y descripciones de los valores que toman las variables del INEbase.

In [ ]:
# "Sexua" aldagaiaren baloreak

variables_18 <- get_metadata_values(variable=18)
variables_18


variables_548 <- get_metadata_values(variable=548)
variables_548

  Id     Fk_Variable Nombre      Codigo FK_JerarquiaPadres
1    451 18          Total              NULL
2    452 18          Hombres     1      NULL
3    453 18          Mujeres     6      NULL
4    454 18          Ambos sexos        451
5 438439 18          No consta          NULL

  Id     Fk_Variable Nombre      Codigo FK_JerarquiaPadres
1    451 548         Total              NULL
2    452 548         Hombres     1      NULL
3    453 548         Mujeres     6      NULL
4    454 548         Ambos sexos        451
5 438439 548         No consta          NULL

### 3.3 Variables y valores

Con la función: `get_metadata_series_varval`, se obtiene la correspondencia de las variables y de todos los valores que éstas toman. Es obligatorio introducir el código de una operación.

In [ ]:
varbal<- get_metadata_series_varval(operation="MYH")
varbal

    Id     Fk_Variable
1       72  3
2       77  3
3    11406  3
4    23184  3
5    23238  3
6   283908  3
7   283909  3
8   283910  3
9   283950  3
10  284296  3
11  284297  3
12  284298  3
13  298062  3
14  298063  3
15  298085  3
16  298450  3
17  298452  3
18  298453  3
19  298958  3
20     451 18
21     452 18
22     453 18
23    8695 37
24    8696 37
25    8697 37
26    8698 37
27    8702 37
28    8703 37
29  284018 37
30  284019 37
⋮   ⋮      ⋮
600 298687 653
601 298688 653
602 298689 653
603 298790 660
604 303786 696
605 303790 697
606 303816 697
607 311039 697
608 369997 851
609 369998 851
610 369999 851
611 370000 851
612 370001 851
613 370002 851
614 370003 852
615 370004 852
616 370005 852
617 370006 852
618 370007 852
619 370008 853
620 370009 853
621 370010 853
622 370011 853
623 370012 853
624 392427 998
625 392428 998
626 392429 998
627 392430 998
628 392431 998
629 392432 998
    Nombre
1   Dato base
2   Porcentaje
3   Valor absoluto
4   Proyección a largo plazo
5   Por mil
6   Tasa de actividad
7   Tasa de empleo de la población
8   Tasa de paro de la población
9   Número medio de horas efectivas trabajadas
10  Porcentaje respecto al sexo
11  Porcentaje respecto a la ocupación
12  Porcentaje respecto a la edad
13  Porcentaje respecto al empleo total
14  Porcentaje respecto al empleo total de personas del mismo sexo
15  Porcentaje respecto a la edad y al sexo
16  Porcentaje respecto al desempleo total
17  Participación de los trabajadores (asalariados) respecto al total de asalariados
18  Participación de los trabajadores respecto al empleo total
19  Número medio de horas diarias dedicadas
20  Total
21  Hombres
22  Mujeres
23  Total
24  Adulto solo con menos de 65 años
25  Adulto solo de 65 o más años
26  Pareja sin hijos
27  Un adulto con hijos
28  Otro tipo de hogar
29  Hogares de una persona
30  2 adultos sin niños dependientes
⋮   ⋮
600 Enseñanza de idiomas
601 Enseñanzas deportivas
602 Educación de adultos
603 Eurostat
604 Curso 2009/2010
605 Ciencias,matemáticas y tecnologia
606 Ciencias, matemáticas y tecnologia
607 Ciencias naturales, matemáticas y estadística
608 Son demasiado caros
609 Organizan el cuidado de hijos solos o con su pareja
610 Organizan el cuidado de hijos solos o con la ayuda de abuelos, parientes o amigos
611 No se necesitan para todos los hijos o los hijos cuidan de si mismos
612 Por otros motivos (*)
613 No sabe/No contesta
614 Dejó de trabajar
615 Redujo el tiempo de trabajo
616 Ni dejó de trabajar ni redujo el tiempo de trabajo
617 Nunca tuvo que cuidar de familiares dependientes
618 No sabe/No contesta
619 Excedencia por cuidado de hijos
620 Combinación de excedencia con permiso de maternidad/paternidad
621 No fue excedencia, únicamente fue permiso de maternidad/paternidad
622 La interrupción fue por una causa distinta a las anteriores
623 No sabe/No contesta
624 Por no haber servicios adecuados para cuidado de hijos u otros familiares
625 Por no poder costear los servicios de cuidado de hijos u otros familiares
626 Querer cuidar personalmente de hijos u otros familiares
627 Por otros factores decisivos
628 No sabe
629 Total
    Codigo
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21  1
22  6
23
24
25
26
27
28
29
30
⋮   ⋮
600
601
602
603
604
605
606
607
608
609
610
611
612
613
614
615
616
617
618
619
620
621
622
623
624
625
626
627
628
629

## 4. BUSCAR Y OBTENER DATOS

Se pueden descargar todos los datos de una tabla, serie u operación. Se utilizan diferentes funciones en función del elemento que se quiere descargar (tabla, serie u operación).

En caso de querer filtrar los datos antes de la descarga, la sintaxis de los filtros también varía según la fuente de datos (Tempus3, pc-axis o tpx).

### 4.1 Obtener los datos de una serie

Para obtener todos los datos de una serie, se necesita el parámetro `codSerie`, es decir, el código de identificación de la serie. Se utiliza la función `get_data_series`.

In [ ]:
# IPC de los alimentos de Álava (serie IPC271788)

#  Se trata de los datos de esta URL: https://servicios.ine.es/wstempus/js/ES/DATOS_SERIE/IPC271788?date=19900101:20300101

IPC_alimentos_Alava <- get_data_series(codSeries = "IPC271788",
                            tip="A",                     # tip = "A" para literales, en caso contrario aparecerá el código
                            unnest=TRUE,                 # unnest = TRUE para mostrar los datos en una tabla
                            dateStart = "1990/01/01")    # el filtro del tiempo se puede poner de muchas maneras: nlast, dateStart, dateEnd. Si no se indica nada, sólo da el último dato

head(IPC_alimentos_Alava)

    COD       Nombre                           T3_Unidad T3_Escala
1   IPC271788 Araba/Álava. Alimentos. Índice.  Índice
1.1 IPC271788 Araba/Álava. Alimentos. Índice.  Índice
1.2 IPC271788 Araba/Álava. Alimentos. Índice.  Índice
1.3 IPC271788 Araba/Álava. Alimentos. Índice.  Índice
1.4 IPC271788 Araba/Álava. Alimentos. Índice.  Índice
1.5 IPC271788 Araba/Álava. Alimentos. Índice.  Índice
    Fecha                         T3_TipoDato T3_Periodo Anyo Valor
1   2002-01-01T00:00:00.000+01:00 Definitivo  M01        2002 59.637
1.1 2002-02-01T00:00:00.000+01:00 Definitivo  M02        2002 59.291
1.2 2002-03-01T00:00:00.000+01:00 Definitivo  M03        2002 59.355
1.3 2002-04-01T00:00:00.000+02:00 Definitivo  M04        2002 59.765
1.4 2002-05-01T00:00:00.000+02:00 Definitivo  M05        2002 59.983
1.5 2002-06-01T00:00:00.000+02:00 Definitivo  M06        2002 60.071

### 4.1 Obtener la tabla completa

Para obtener todos los datos de una tabla, se necesita el parámetro de `idTable`, es decir, el código de identificación de la tabla. Se utiliza la función `get_data_table`.

In [ ]:
# Número de médicos, en el último año: https://www.ine.es/jaxi/Datos.htm?tpx=75015#_tabs-tabla, id= 75015

medicos <- get_data_table(idTable = 75015)
head(medicos)

  Nombre                                  Data
1 TOTAL, Total, Total                     310558, 0
2 TOTAL, Total, Hombres                   141458, 0
3 TOTAL, Total, Mujeres                   169100, 0
4 TOTAL, Colegiados no jubilados, Total   250754, 0
5 TOTAL, Colegiados no jubilados, Hombres 101563, 0
6 TOTAL, Colegiados no jubilados, Mujeres 149191, 0

### 4.2 Filtrar datos

Para filtrar los datos utilizaremos también la función `get_data_table` y el parámetro `filter`. Los filtros se pueden colocar para todas o algunas de las dimensiones/variables y seleccionar una o varias valores/categorías. Será necesario conocer el código de las variables y valores que hemos visto en el punto 3.

Distinguiremos tres tipos posibles de fuentes de tablas (tablas Tempus 3, tablas pc-axis y tablas tpx).

#### 4.2.1 Filtrar datos en Tempus3

Para poder filtrar es necesario conocer los códigos de identificación numérica `Id` de las variables y las categorías que queremos filtrar.

Debemos obtener información de variables y valores de la tabla de interés, por ejemplo [Índices por comunidades autónomas: general y de grupos ECOICOP](https://www.ine.es/jaxiT3/Tabla.htm?t=50913) (Id = 50913).

In [ ]:
metadatos <- get_metadata_table_varval(idTable = 50913)
head(metadatos)

  Id    Fk_Variable Nombre                  Codigo
1 16473 349         Nacional                00
2  8997  70         Andalucía               01
3  8998  70         Aragón                  02
4  8999  70         Asturias, Principado de 03
5  9000  70         Balears, Illes          04
6  9001  70         Canarias                05

In [ ]:
# Construimos el filtro y pedimos los datos: tasa de variación interanual del Índice general para la CAE

filtro <- list("3" = "74" ,      # id de #variable = 3, categoría id = 74 tasa de variación interanual
               "762" = "304092", # id de #variable = 762, categoria id = 304092 índice general
               "70" = "9012"     # id = 70, categoría id = 9012 C.A.E
               )

# datos, filtrados
IPC_general_CAE <- get_data_table(idTable = 50913, filter = filtro, unnest = TRUE,
                      tip = "A", nlast = 5)
IPC_general_CAE

    COD       Nombre                                        T3_Unidad T3_Escala
1   IPC255465 País Vasco. Índice general. Variación anual.  Tasas
1.1 IPC255465 País Vasco. Índice general. Variación anual.  Tasas
1.2 IPC255465 País Vasco. Índice general. Variación anual.  Tasas
1.3 IPC255465 País Vasco. Índice general. Variación anual.  Tasas
    Fecha                         T3_TipoDato T3_Periodo Anyo Valor
1   2025-08-01T00:00:00.000+02:00 Definitivo  M08        2025 2.8
1.1 2025-07-01T00:00:00.000+02:00 Definitivo  M07        2025 3.0
1.2 2025-06-01T00:00:00.000+02:00 Definitivo  M06        2025 2.8
1.3 2025-05-01T00:00:00.000+02:00 Definitivo  M05        2025 2.4

#### 4.2.2 Filtrar datos en datos pc-axis

Para poder filtrar es necesario conocer los códigos alfanuméricos de identificación `Codigo` de las variables y los valores que queremos filtrar. Por lo tanto, debemos:

Solicitar metadatos de las series que componen la tabla de interés con la función `get_metadata_table_varval`.

In [ ]:
# Población por edad (3 grupos de edad), españoles/extranjeros, sexo y año

metadata <- get_metadata_table_varval(idTable = "t20/e245/p08/l0/01001.px")
metadata

    Nombre        Codigo        Variable.Nombre         Variable.Codigo
1   TOTAL EDADES  totaledades   edad (3 grupos de edad) edad3gruposdeedad
2   TOTAL         total         Españoles/Extranjeros   espanolesextranjeros
3   Ambos sexos   ambossexos    Sexo                    sexo
6   Hombres       hombres       Sexo                    sexo
9   Mujeres       mujeres       Sexo                    sexo
11  Españoles     espanoles     Españoles/Extranjeros   espanolesextranjeros
20  Extranjeros   extranjeros   Españoles/Extranjeros   espanolesextranjeros
29  % Extranjeros extranjeros~1 Españoles/Extranjeros   espanolesextranjeros
37  0-15 años     015anos       edad (3 grupos de edad) edad3gruposdeedad
73  16-64 años    1664anos      edad (3 grupos de edad) edad3gruposdeedad
109 65 y más      65ymas        edad (3 grupos de edad) edad3gruposdeedad

In [ ]:

# Hacemos el filtro y pedimos los datos. Por ejemplo, para las mujeres y hombres españoles de todas las edades (mayores de edad = totales) (sexo = mujeres y hombres) (espanolesextranjeras = españolas)

filtro <- list(sexo = c("mujeres", "hombres"),    # si se quiere filtrar más de una categoría,  =c(  , )
               espanolesextranjeros = "espanoles",
               edad3gruposdeedad = "totaledades"
               )

poblacion <- get_data_table (idTable = "t20/e245/p08/l0/01001.px", unnest = TRUE, nlast = 5, filter = filtro)

poblacion

   Nombre                           NombrePeriodo Valor    Secreto
1  TOTAL EDADES, Españoles, Hombres 2022          20487167 FALSE
2  TOTAL EDADES, Españoles, Hombres 2021          20497801 FALSE
3  TOTAL EDADES, Españoles, Hombres 2020          20535713 FALSE
4  TOTAL EDADES, Españoles, Hombres 2019          20522283 FALSE
5  TOTAL EDADES, Españoles, Hombres 2018          20522724 FALSE
6  TOTAL EDADES, Españoles, Mujeres 2022          21445321 FALSE
7  TOTAL EDADES, Españoles, Mujeres 2021          21447158 FALSE
8  TOTAL EDADES, Españoles, Mujeres 2020          21480929 FALSE
9  TOTAL EDADES, Españoles, Mujeres 2019          21467047 FALSE
10 TOTAL EDADES, Españoles, Mujeres 2018          21465565 FALSE

#### 4.2.3 Filtrar datos en datos tpx

Para poder filtrar es necesario conocer los códigos alfanuméricos de identificación de las variables y las categorías que queremos filtrar. Por lo tanto, debemos hacer esto:

In [ ]:
#  Extracción nacional por tipo de material y año (https://www.ine.es/jaxi/Tabla.htm?tpx=33387&L=0) (Id = 33387)

metadata <- get_metadata_table_varval(idTable = 33387)
head(metadata)

  Nombre                      Codigo                Variable.Nombre
1 EXTRACCION NACIONAL         extraccionnacional    tipo de material
2 1.  Biomasa                 1biomasa              tipo de material
3 1.1.  Cultivos primarios    11cultivosprimarios   tipo de material
4 1.1.1.  Cereales            111cereales           tipo de material
5 1.1.2.  Raices y tubérculos 112raicesytuberculos  tipo de material
6 1.1.3.  Cultivos azucareros 113cultivosazucareros tipo de material
  Variable.Codigo
1 tipodematerial
2 tipodematerial
3 tipodematerial
4 tipodematerial
5 tipodematerial
6 tipodematerial

In [ ]:

filtro <- list(tipodematerial = c("1biomasa", "2mineralesmetalicosmineralenbruto",
                                  "3mineralesnometalicos", "4combustiblesfosiles")
               )

materiales <- get_data_table (idTable = 33387, unnest = TRUE, tip = "A", nlast = 1, filter = filtro)
materiales

  Nombre                                     NombrePeriodo Valor
1 1.  Biomasa                                2023 (avance) 107483869
2 2.  Minerales metálicos (mineral en bruto) 2023 (avance)  23233159
3 3.  Minerales no metálicos                 2023 (avance) 213294377
4 4.  Combustibles fósiles                   2023 (avance)    110206

## 5. PARA SABER MÁS

* [Tutorial de ineapir](https://github.com/es-ine/tutorial-ineapir) y [chuleta (cheatsheet)](https://raw.githubusercontent.com/es-ine/ineapir/main/man/figures/ineapir.pdf)

* [Seminario del INE sobre servicios web](https://www.ine.es/ine/eeaapp/4T25_sem06.pdf). 23 de octubre, de 5 horas. El plazo de inscripción está abierto hasta el 15 de octubre.